<div class="buttons">
  <ul>
    <li><i class="fa fa fa-heart"></i></li>
    <li><i class="fa fa-bookmark"></i>收藏</li>
    <li><i class="fa fa-angle-double-up"></i>置顶</li>
    <li><i class="fa fa-diamond"></i>加精</li>
    <li><i class="fa fa-ban"></i>屏蔽</li>
    <div class="pull-right">
      <li><i class="fa fa-check"></i></li>
      <li><i class="fa fa-pencil"></i></li>
      <li><i class="fa fa-trash"></i></li>
    </div>
  </ul>
</div>
