<div class="buttons">
  <% if current_user %>
    <% active = "active" if current_user.like_topic?(@topic) %>
    <% like = " #{@topic.like_users.count} 个 赞" if @topic.like_users.present? %>
  <% end %>
  <ul>
    <li><%= link_to raw("<i class='fa fa fa-heart'></i><span>#{like}</span>"), "#", class: " buttons-heart #{active}", data: { id: topic.id } %></li>
    <li><i class="fa fa-bookmark"></i>收藏</li>
    <li><i class="fa fa-angle-double-up"></i>置顶</li>
    <li><i class="fa fa-diamond"></i>加精</li>
    <li><i class="fa fa-ban"></i>屏蔽</li>
    <div class="pull-right">
      <li><i class="fa fa-check"></i></li>
      <li><i class="fa fa-pencil"></i></li>
      <li><i class="fa fa-trash"></i></li>
    </div>
  </ul>
</div>
