<div class="panel">
  <div class="panel-heading">友情提示</div>
  <ul class="list-group">
    <li class="list-group-item"><a href="http://cnodejs.org" rel="nofollow" title="CNode 社区" target="_blank"><img src="//ruby-china-files.b0.upaiyun.com/photo/2016/d427ef3efd33b57721df152c2aa1735e.png" style="width:130px; "></a></li>
    <li class="list-group-item"><a href="https://laravel-china.org" target="_blank" rel="nofollow"><img src="//ruby-china-files.b0.upaiyun.com/photo/2016/d7782871f3fac7e85a95d20c74046909.png" style="width:130px; "></a></li>
    <li class="list-group-item"><a href="http://elixir-cn.com" target="_blank" rel="nofollow"><img src="//l.ruby-china.org/photo/2017/2720bc62-2348-40c0-88f6-95500067c648.png" style="width: 130px; "></a></li>
    <li class="list-group-item"><a href="https://testerhome.com/" target="_blank" rel="nofollow"><img src="//ruby-china-files.b0.upaiyun.com/photo/2016/5cd78b730062ab3c768bcc2592c5c7fa.png" style="width: 150px;"></a></li>
  </ul>
</div>
