<div class="panel">
  <div class="panel-body">
    <% cache([:topic_index, @topics.max.try(:updated_at).to_i]) do %>
      <%= render partial: 'topics/topic', collection: @topics %>
    <% end %>
  </div>
</div>
