<div class="panel">
  <div class="panel-body">
    <% cache([:topic_index, @topics.maximum(:updated_at)]) do %>
      <%= render partial: 'topics/topic', collection: @topics %>
    <% end %>
  </div>
</div>
