<div class="panel">
  <div class="panel-heading"><%= t("topics.new_topic") %></div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    FormStorage.restore()
  })
</script>
