<%= content_for :sitemap do %>
  <span>全局设置</span>
<% end %>

<h6>全局设置</h6>
<table class="table table-bordered table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">Key</th>
      <th scope="col">说明</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% Setting::KEYS_IN_ADMIN.each do |key| %>
      <tr>
        <td><%= link_to "#{key}", edit_admin_site_config_path(key) %></td>
        <td><%= t("setting.#{key}") %></td>
        <td><%= link_to raw("<i class='fa fa-pencil'></i>"), edit_admin_site_config_path(key) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
