<div class="panel">
  <div class="panel-body">

    <%= render "user_info", user: user %>

    <div class="follow-info row">
      <%= render 'follow_info', user: user %>
    </div>

    <% if current_user && current_user != user %>
      <div class="user-slash-btn row">
        <%= render 'user_slash', user: user %>
      </div>
    <% end %>
    
  </div>
</div>
