var followed = $('<%= j render partial: "followed_list", collection: @users, as: :user, locals: { sidebar_user: @user } %>')
$('#menu-bottom').html("")
$('#menu-bottom').prepend("<div class='followed-list-row row'></div>")
$('.followed-list-row').prepend(followed)
$(".downmenu-con").hide();
