<% if user_signed_in? %>
 <%  unread = "active" if current_user.notifications.unread.present? %>
 <%= link_to raw("<i class='fa fa-bell #{unread}'>#{current_user.unread_count}</i>"), notifications_path %>
<ul class="navbar-nav navbar-topic d-none d-md-block">
  <div class="dropdow">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-plus"></i> <span class="caret"></span>
    </button>
    <div class="dropdown-menu dropdown-menu-right dropdown-topic" aria-labelledby="dropdownMenuButton">
      <%= render_list_items do |li|
        li << link_to(t("topics.new_topic"), main_app.new_topic_path, class: "dropdown-item new-topic")
      end  %>
    </div>
  </div>
</ul>
<% end %>
