<!--
@Author: baodongdong
@Date:   2017-11-21T21:09:07+08:00
@Last modified by:   baodongdong
@Last modified time: 2017-11-21T21:14:48+08:00
-->

<div id="main-nav-menu">
  <ul class="nav navbar-nav">
    <%= render_list_items do |li|
      li << link_to(t("menu.topics"), Setting.has_module?(:home) ? main_app.topics_path : main_app.root_path)
      li << link_to(t("menu.press"))
      li << link_to(t("menu.recruit"))
      li << link_to(t("menu.wiki"))
      li << link_to(t("menu.cool"))
      li << link_to(t("menu.users"))
      li << link_to(t("menu.post"))
    end %>
  </ul>
</div>
