<ul class="navbar-user navbar-nav navbar-right ml-sm-5">
  <% if user_signed_in? %>
    <div class="dropdown mr-md-5">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= user_avatar_tag current_user, :sm %>
      </button>
      <div class="dropdown-menu dropdown-menu-right dropdown-user" aria-labelledby="dropdownMenuButton">
        <%= render_list_items do |li|
          li << link_to(current_user.login, main_app.user_path(current_user.login), class: "dropdown-item")
          li << "<div class='dropdown-divider'></div>"
          li << link_to(t("menu.edit_account_path"), '#', class: "dropdown-item")
          li << link_to(t("menu.likes"), "#", class: "dropdown-item")
          li << link_to(t("menu.notepad"), "#", class: "dropdown-item")
          li << "<div class='dropdown-divider'></div>"
          if current_user.admin?
            if params[:controller].start_with?("admin")
              li << link_to("前台", root_path,class: "dropdown-item")
            else
              li << link_to("后台", admin_root_path,class: "dropdown-item")
            end
            li << "<div class='dropdown-divider'></div>"
          end
          li << link_to(t("common.logout"), main_app.destroy_user_session_path, method: "delete", class: "dropdown-item" )
        end %>
      </div>
    </div>
  <% else %>
    <%= render_list_items do |li|
      li << link_to(t("common.register"), new_user_registration_path, class: "nav-link")
      li << link_to(t("common.login"), new_user_session_path, class: "nav-link")
    end %>
  <% end %>
</ul>
