<div class="panel">
  <div class="panel-body">
    <div class="gems">
      <div class="gems-left">
        <img src="https://cdn.bootcss.com/twemoji/2.5.0/2/svg/1f381.svg" style="width: 55px;">
      </div>
      <div class="gems-right">
        <div class="rubygems">
          Ruby China 官方 <a href="https://gems.ruby-china.org" target="_blank">RubyGems 镜像、Ruby 镜像 正式上线！</a>
        </div>
        <div class="source">
          gem source -a https://gems.ruby-china.org
        </div>
      </div>
    </div>
  </div>
</div>
