<div class="row items" >
  <div class="col-md-3">
    <a href="#">
      <div class="item">
        <div class="icon">
            <i class="fa fa-comments-o"></i>
        </div>
        <div class="text">
          Ruby 社区 <i class="pull-right fa fa-arrow-right"></i>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <a href="#">
      <div class="item">
        <div class="icon">
          <i class="fa fa-support"></i>
        </div>
        <div class="text">
          技术文档<i class="pull-right fa fa-arrow-right"></i>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <a href="#">
      <div class="item">
        <div class="icon">
          <i class="fa fa-users"></i>
        </div>
        <div class="text">
          招聘和求职<i class="pull-right fa fa-arrow-right"></i>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-3" >
    <a href="#">
      <div class="item">
        <div class="icon">
          <i class="fa fa-diamond"></i>
        </div>
        <div class="text">
          精华文章<i class="pull-right fa fa-arrow-right"></i>
        </div>
      </div>
    </a>
  </div>
</div>
