// @Author: baodongdong
// @Date:   2017-11-19T09:52:24+08:00
// @Last modified by:   baodongdong
// @Last modified time: 2017-11-23T23:10:51+08:00

/*
 *= require_self
 *= require font-awesome
 */

@import "vars";
@import "bootstrap";

// 全局样式设置
* {
  margin: 0;
  padding: 0;
}

body {
  background: $body-back;
  color: $black;
  font-family: $font-family;
  letter-spacing: .03em;
}

.panel {
  margin-top: 20px;
  background-color: white;
  .panel-heading {
    background: $panel-body;
    padding: 6px 15px;
    border-bottom-color: #eee;
    color: #777;
    margin-bottom: 15px;
  }
  .panel-body {
    padding: 0 10px;
    padding-bottom: 20px;
    .btn-outline-primary {
      cursor: pointer;
    }
  }
}
