/*
 *= require_self
 *= require font-awesome
 */

@import "vars";
@import "bootstrap";

全局样式设置
* {
  margin: 0;
  padding: 0;
}

body {
  background: $body-back;
  color: $black;
  font-family: $font-family;
  letter-spacing: .03em;
  font-size: 14px;
}

.list {
  list-style: none;
  text-decoration: none;
}

.alert {
  margin-top: 10px;
  padding: 8px 15px;
  color: #333 !important;
  cursor: pointer;
}

.btn-default {
  padding: 7px 12px;
  border-radius: 0px;
  font-size: 15px;
  border: 1px solid #dadada;
  color: #333;
  border-radius: 3px;
  &:hover {
    background: $gray;
  }
}

// 导航条
.navbar {
  padding-top: 1px;
  padding-bottom: 1px;
  .container {
    position: relative;
    .navbar-brand {
      color: #666 !important;
      font-size: 18px;
      b {
        color: #EB5424;
      }
    }
    .navbar-collapse {
      .navbar-nav>li>a {
        color: #333;
        font-size: 13px;
      }
    }
    .navbar-user {
      width: 60px;
      position: relative;
      left: 15px;
      margin-bottom: 0px;
      .dropdown {
        .dropdown-toggle {
          box-shadow: none;
          background: #f8f9fa;
          padding: 3px 3px;
          &:focus {
            background: #eff3f5;
          }
        }
        .dropdown-user {
          position: absolute;
          left: -100px;
          li {
             a {
               background: none;
               &:hover {
                 color: red !important;
               }
             }
          }
        }
        .media-object {
          border-radius: 120px;
        }
      }
    }
    .navbar-search {
      margin-right: -55px;
      .form-search {
        box-shadow: none;
        height: 28px;
        border: none;
        background: none;
        font-size: 12px;
        &::-webkit-input-placeholder{
          color: #dddddd;
        }
      }
      .fa-search {
        margin-right: -10px;
      }
    }
    .navbar-topic {
      position: relative;
      left: 60px;
      .dropdown-toggle {
        box-shadow: none;
        background: #f9f9fa;
        &:focus {
          background: #eef3f5;
        }
        &:active {
          border-bottom: 3px solid #999;
        }
      }
    }
  }
  .fa-bell {
    position: absolute;
    right: 135px;
  }
}

.panel {
  margin-top: 20px;
  background-color: white;
  .panel-heading {
    background: $panel-body;
    padding: 6px 15px;
    border-bottom-color: #eee;
    color: #777;
    margin-bottom: 15px;
  }
  .panel-body {
    padding: 0 10px;
    padding-bottom: 20px;
    .btn-outline-primary {
      cursor: pointer;
    }
    .panel-github {
      border: 1px solid $github-border;
      background-color: $github-back;
    }
    .media {
      .media-left {
        margin-right: 6px;
        .image {
          padding: 10px 3px !important;
        }
        .level {
          text-align: center;
          margin-top: 10px;
          .label-info {
            color: #4A5E9E;
            padding: 3px 3px;
            background: #add0ff;
            border-radius: 3px;
          }
        }
      }
      .media-body {
        display: table-cell;
        vertical-align: top;
        .item {
          margin: 5px 0px;
        }
        .number, .counts {
          color: #999;
        }
      }
    }
    .follow-info {
      margin-top: 10px;
      padding: 10px;
      border-top: 1px solid #f0f0f0;
      border-bottom: 1px solid #f0f0f0;
      text-align: center;
      a {
        display: block;
      }
      .counter {
        font-size: 32px;
        color: #356DD0;
      }
      .text {
        color: #999;
      }
    }
  }
}

@media (max-width: 767px) {
  .navbar {
    .container {
      .navbar-toggler {
        border: 0px;
        outline: none;
        position: absolute;
        left: 5px;
        top: 8px;
        padding: 3px 9px;
      }
      .navbar-brand {
        margin: 0 auto;
      }
      .navbar-collapse {
        z-index:100;
        position: absolute;
        left: 0px;
        top: 40px;
        background: #FFF;
        box-shadow: 0 1px 1px rgba(0, 0, 0,.11);
        width: 100%;
        .navbar-nav {
          display: block;
        }
        .navbar-nav>li {
          float: left;
          padding-left: 1em;
        }
      }
      .fa-bell {
        position: absolute;
        right: 55px;
      }
    }
  }
}

.avatar-16 { width: 16px; height: 16px; border-radius: 120px; }
.avatar-32 { width: 32px; height: 32px; border-radius: 120px; }
.avatar-48 { width: 48px; height: 48px; border-radius: 120px; }
.avatar-96 { width: 96px; height: 96px; border-radius: 120px; }

// modal
.modal {
  .modal-header {
    border-bottom: 0px;
    margin-bottom: 0px;
  }
  .modal-body {
    padding-top: 0px;
    .node-list {
      margin-bottom: 10px;
    }
  }
  .close {
    opacity: .2;
    line-height: 0.3;
    font-weight: 500;
    font-size: 20px;
    outline: none;
    &:hover {
      cursor: pointer;
    }
  }
  @media (min-width: 768px) {
    .modal-dialog {
      max-width: 768px !important;
    }
  }
  .media-left {
    padding-left: 100px;
    padding-right: 10px;
    color: #aaa;
  }
  .node-name {
    display: inline-block;
    width: 100px;
  }
}

// topic
.new_topic {
 .form-control {
   box-shadow: none;
 }
}

.editor-toolbar {
  .edit {
    padding: 5px 20px;
    background: #d0d0d0;
    color: #666;
    margin-right: 10px;
    text-decoration: none;
  }
  .preview {
    padding: 5px 20px;
    background: #f0f0f0;
    color: #999;
    text-decoration: none;
  }
  .pull-right {
    .fa-image {
      margin-right: 10px;
    }
    .dropdown-toggle {
      margin-right: 10px;
      &:after {
        content: none;
      }
    }
    .dropdown-menu {
      .dropdown-item {
        margin-left: 5px;
        color: #666;
        padding: 5px;
        font-size: 14px;
      }
    }
  }
}

// markdown css
#preview {
  min-height: 500px;
  background: #f5f5f5;
  .CodeRay {
    font-size: 12px;
    line-height: 150%;
  }
}
