.notifications {
  .notifications-heading {
    padding: 10px 10px;
    background: #fafafa;
    color: #777;
    .title {
      display: inline-block;
      padding: 10 10px;

    }
    .delete {
      display: inline-block;
      float: right;
      padding: 10 10px;
      .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
      }
      .btn-danger, .btn-danger:visited {
        background: #EB5424;
        border-color: #CD3A14;
      }
      .btn-sm {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
      }
    }
  }
  .notifications-body {
    background: white;
    padding: 10px 15px;
    .notification-group {
      .notification-group-top {
        padding-bottom: 10px;
        color: #aaa;
        border-bottom: 1px solid #eee;
        margin-bottom: 10px;
      }
      .notification-group-bottom {
        border: 1px solid red;
        color: #555;
        .media-left {
          vertical-align: top;
          display: inline-block;
        }
        .media-right {
          margin-bottom: 30px;
          .reply-body-html {
            padding-top: 10px;
          }
          display: inline-block;
          a {
            text-decoration: none;
            color: #6b9653;
            &:hover {
              color: red;
            }
          }
        }
      }
    }
  }
}
