.light { background:#F7F2FC; }
.reply {
  .deleted {
    display: inline-block;
    vertical-align: center;
    width: 100%;
    text-align: center;
    color: #86bfc3;
    text-decoration: line-through;
    font-size: 12px;
    padding-bottom: 5px;
  }
  border-top: 1px solid #eee;
  display:flex;
  padding-left: 15px;
  padding-top: 10px;
  .reply-left {
    margin-right: 15px;
    flex: none
  }
  .reply-right {
    flex: 1;
    padding-right: 15px;
    .reply-right-top {
      margin-bottom: 10px;
      .reply-user {
        color: black;
        font-weight: bold;
        .admin-reply {
          font-size: 12px;
          color: #666;
        }
        .floor {
          color: #7AA87A;
        }
        .reply-to-id {

        }
      }
      .reply-button {
        float: right;
        a {
          color: #666;
          text-decoration: none;
        }
        .active {
          color: #e76f3c;
        }
      }
    }
  }
}
