// @Author: baodongdong
// @Date:   2017-11-20T20:51:42+08:00
// @Last modified by:   baodongdong
// @Last modified time: 2017-11-21T21:34:30+08:00

// scss通用全局变量设置
$font-family: Helvetica, Arial, "PingFang SC", "Noto Sans", Roboto, "Microsoft Yahei", sans-serif;
$body-back: #e5e5e5;
$nav-back: #FFF;
$black: #222527;
$blueText: #A1C3EE;
$blue: #356DD0;
$gray: #F0F4F6;
$grayDark: #EEF3F5;
